form{
  margin-top: 50px;
  padding: 50px;
  font-family: Helvetica, Sans-Serif;
}


section{
  display: flex;
}

section div{
  margin-right: 10px;
}

label{
  margin-top: 10px;
}

button{
  margin-top: 20px;
}

.col-md-4{
  width: 34%;
}



